$height: 25em;
$spacing: 0.5em;

.Row,
.Row2,
.Row3 {
  height: $height;
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing;

  > div:first-child {
    flex: 2;
    margin-right: $spacing;

    @media (max-width: 550px) {
      margin-right: 0;
    }
  }

  > div:last-child {
    flex: 1;
  }

  @media (max-width: 550px) {
    display: block;
    margin-bottom: $spacing;
    height: auto;
    margin-right: 0;

    > div {
      min-height: $height;
    }
  }
}

.Row3 {
  > div:first-child {
    flex: 1;
  }

  > div:last-child {
    flex: 2;
  }
}

.Row2 {
  > div {
    flex: 1;
    margin-right: $spacing;
  }
  > div:last-child {
    margin-right: 0;
  }
}

.Column {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    display: block;
  }
}

.Photo {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: block;
  height: 100%;

  @media (max-width: 550px) {
    display: block;
    min-height: $height;
    margin-bottom: $spacing;
  }

  &:first-child {
    margin-bottom: $spacing;
  }
}
