$height: 25em;
$spacing: 0.5em;

.Row,
.Row2 {
  height: $height;
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing;

  > div:first-child {
    flex: 2;
    margin-right: $spacing;
  }

  > div:last-child {
    flex: 1;
  }
}
.Row2 {
  > div {
    flex: 1;
    margin-right: $spacing;
  }
  > div:last-child {
    margin-right: 0;
  }
}

.Column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Photo {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: block;
  height: 100%;

  &:first-child {
    margin-bottom: $spacing;
  }
}
