@import 'pages/styles/settings/colors';

.Wrapper {
  text-align: center;
}
.Menu {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  @media (min-width: 550px) {
    width: 33%;
  }
}

.Title {
  position: relative;
  margin-bottom: 1.3em;

  p {
    margin-bottom: 0;
  }

  h4 {
    &:after {
      display: none;
    }
    margin-bottom: 0;
  }
  &:after {
    content: '͠ ';
    text-align: center;
    width: 100%;
    color: $blue;
    background: none;
    bottom: -6px;
    position: relative;
  }
}

.MenuList {
  list-style: none;
}
