.menu {
  text-align: center;
}

.menu__title {
  position: relative;
  margin-bottom: 1.3em;


  p {
    margin-bottom: 0;
  }

  h4 {
    &:after {
      display: none;
    }
    margin-bottom: 0;
  }
  &:after {
    content: '͠ ';
    text-align: center;
    width: 100%;
    color: $blue;
    background: none;
    bottom: -6px;
    position: relative;
  }
}

.menu__list {
  list-style: none;
}
